ul {
    text-decoration: none;
    list-style: none;
}

#projects-page {
    background-color: map-get($colors, main_gray);

}

.section-title {
    font-family: "Bebas neue";
    text-align: center;
    font-size: 2.5rem;
    width: 60%;
    padding: 1rem 0;
    margin: 0 auto;
    color: map-get($colors, main_yellow);

    &__img {
        width: 100%;
    }
}

@media(max-width:40rem) {

    .project-carousel {
        position: relative;
        height: 50vh;
        width: 100vw;
        font-family: "Bebas neue";
    }

    .carousel-item {
        height: 50vh;
        width: 100vw;
        display: none;
        position: absolute;
        background-color: map-get($colors, main_gray);

        &__overview {

            height: 30vh;
            position: relative;

            img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                margin: 0 auto;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 3px;
                box-shadow: 0 1rem 2rem rgba(map-get($colors, light_gray), .1);


            }

            &__technologies {
                display: none;
            }
        }


        &__text {
            width: 100%;
            height: 50vh;
            color: white;
            font-family: "Bebas neue";

            &--title {
                text-align: center;
                position: relative;
            }
        }

        &__text-description {

            height: 20vh;
            display: flex;
            flex-direction: row;
            position: relative;

            &--inner {
                width: 70%;

                p {
                    font-family: "Bitter", serif;
                    text-align: justify;
                    padding: 0 1rem;
                    font-size: 1rem;
                    text-justify: inter-word;
                }
            }

        }

        &__text-description--links {
            text-align: center;
            font-size: 2rem;

            ul {
                // margin: 0 auto;
                width: 100%;
                height: 5rem;
                display: grid;
                padding: 0;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                align-items: center;
                justify-items: center;
                // margin-top: 3rem;
            }

        }

        &__text-description--lists {
            width: 30%;
            font-size: 1rem;

            p {
                width: 30%;
                color: map-get($colors, main_yellow);
                margin: 0;
            }

            ul {
                text-align: left;
                font-weight: 100;
                // letter-spacing: 1px;
                padding: 0;
                margin: 0;
                margin-right: .5rem;
                padding: .5rem;


                li {
                    color: map-get($colors, vanilla);

                    &:not(:last-child) {

                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }




    .active {
        display: block !important;
    }


    .icon-size {
        font-size: 6vw;
    }

    a {
        text-decoration: none;
        color: map-get($colors, white_vanilla);
        margin-left: 2rem;
        font-size: 2rem;
    }

    .fa-github {
        height: 2rem;
        width: 2rem;
    }
}

.carousel-item__title {
    display: none;
}


.carousel-item__mobile-title {
    text-align: center;
    color: map-get($colors, main_gray);
    background-color: map-get($colors, main_yellow);
    font-weight: 100;
    box-shadow: 0 1.3rem 2.5rem rgba(#000000, .15);
    padding: .2rem;
    margin: 1rem;
    margin-top: 0;
    border-radius: 3px;
    font-size: 2rem;
    transform: skewX(-7deg);

    &>* {
        transform: skewX(7deg);
    }
}

.btn--link {
    margin: auto 0;
    display: inline-block;
    padding: .5rem;
    border: 2px solid map-get($colors, main_yellow);
    box-shadow: 0 1rem 2rem rgba(black, .2);
    border-radius: 3px;
    transition: all .5s ease;
    width: 8rem;
    font-size: 1.5rem;

    &:hover {
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        transform: translateY(3px);
    }
}

#projects-page h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: .5rem 1rem;
    color: map-get($colors, main_yellow);
}

.arrow {
    display: none;
}