ul {
  list-style: none;
}

#projects-page {
  background-color: map-get($colors, main_gray);
  position: relative;


  .project-carousel {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .carousel-item {
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute;

    &__overview {
      display: flex;
      margin-top: 2.5rem;
      background-color: map-get($colors, main_yellow);
      height: 38%;
      width: 100%;
      position: relative;

      img {
        height: 100%;
        width: 70%;
        object-fit: cover;
        /* Do not scale the image */
        object-position: center;
      }

      &__technologies li {
        display: inline-block;
        margin: 1rem 1rem 1rem 1rem;
        text-align: center;
      }
    }


    &__text {
      width: 100%;
      height: 30vw;
      color: white;
      font-family: "Bebas neue";

      &--title {
        display: flex;
        flex-direction: row;
        position: relative;

      }
    }

    &__text-description {
      height: 35vh;
      display: flex;
      flex-direction: row;
      position: relative;

      &--inner {
        width: 70%;

        p {
          text-align: center;
          padding: 0 8vw 0 8vw;
          font-size: 1.5rem;
          text-justify: inter-word;
          letter-spacing: 0.1em;
        }
      }

      &--lists {
        width: 30%;
        text-align: left;
        font-size: 2rem;

        p {
          width: 30%;
          text-align: left;
          color: map-get($colors, light_red);
          margin: 2vw 0 0 0;
        }

        ul {
          text-align: left;
          padding: 0;
          margin: 0;

          li {
            color: map-get($colors, light_gray);

          }
        }
      }

      &--links {
        text-align: center;
        font-size: 2rem;

        ul {
          justify-content: center;
          display: flex;
        }

        li {
          margin: 0 2rem;
          border: 2px solid map-get($colors, main_yellow);
          padding: 0.5rem 1.5rem;
          box-shadow: 0 1.3rem 2.5rem rgba(0, 0, 0, 0.15);
        }

        li:active, li:hover {
          margin: 0 2rem;
          border: 2px solid map-get($colors, dark_red);
          padding: 0.5rem 1.5rem;
          box-shadow: 0 1.3rem 2.5rem rgba(0, 0, 0, 0.15);
        }
      }
    }

  }

  h1 {
    width: 30%;
    height: 3.5vw;
    text-align: left;
    font-size: 3vw;
    margin: 5px 5px;
    padding-bottom: 0;
    border-bottom: 2px solid white;
    color: map-get($colors, main_yellow);
    color: white;
  }

  h2 {
    width: 70%;
    height: 3.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align vertical */
    font-size: 2.5vw;
    margin: 5px 5px;
    color: map-get($colors, light_red);
  }

  .active {
    display: block !important;
  }


  .icon-size {
    font-size: 6vw;
  }

  a {
    text-decoration: none;
    color: map-get($colors, white_vanilla);
  }

  .fa-github {
    height: 50px;
    width: 50px;
  } 
  .carousel-item__mobile-title {
    display: none;
  }
  .section-title__img {
    display: none;
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out-backwards {
  animation: fadeOutBackwards 0.5s forwards;
}

.fade-in-backwards {
  animation: fadeInBackwards 0.5s forwards;
}

@keyframes fadeOut {
  from {
    /* opacity: 1; */
    left: 0;
  }

  to {
    /* opacity: 0; */
    left: -100%;

  }
}

@keyframes fadeIn {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes fadeOutBackwards {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

@keyframes fadeInBackwards {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}