
$colors: (
  main_gray: #292826,
  main_yellow: #f9d342,
  vanilla: #ffefca, 
  green_vanilla: #f2fedc, 
  light_red: #fc8c79,
  dark_red: #bf5748,
  white_vanilla: #fef9ee,
  light_gray: #d1cfcd, 
  orange: #fd8d58,
);
$coding: (
  while: #601f7e,
  true: #601f7e,
  create: #c25450,
);

$transition-time: .15s;
